/*customise spoiler titles*/
.su-spoiler-title {
  background-color: goldenrod;
  color: white;
}

/*customise acordian spoiler*/
.custom-spoiler {
  background-color: white;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}
