/*single images*/
.wp-block-image .is-style-default {
  width: 50%;
}

/*download button*/
.wp-block-file .wp-block-file__button {
  background-color: $primary;
  color: $white;
}

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover() {
	color: $body-color;
	text-decoration: none;
  }
}


/*gallery images*/
.wp-block-gallery {

}

/*gallery grid*/
.blocks-gallery-grid {
  align-items: center;

}

/*single gallery image*/
.blocks-gallery-item {

}

.figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
  alignment: center;
}

.figure-img {
  margin-bottom: $spacer / 2;
  line-height: 1;
}

.figure-caption {
  @include font-size($figure-caption-font-size);
  color: $figure-caption-color;
  alignment: center;
}
