// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
<<<<<<< HEAD

=======
$main-color: #b5a63e!important; // Thats a sample how you could change a BootStrap variable
$header-font: 'Roboto',
sans-serif;
$paragraph-font: 'Lato',
sans-serif;
>>>>>>> 7c89cd254a83e3190890982e26b08297818f23a8
